<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DB:SourceData" value="Data Source=localhost;Initial Catalog=macarons;Convert Zero Datetime=True;" />
    <add key="DB:IPServer" value="localhost" />
    <add key="1" value="3ack2j7Ap1yiAvgKq1v6zA==" />
    <add key="2" value="7gVpVt6ZzDcQxAUzsJHtVw==" />
    <add key="pc" value="1" />
    <add key="rptpath" value="D:\GDrive\Macarons\Macarons\GudangMacarons\rpt\" />
    <add key="mainprinter" value="HP DeskJet 2130 series" />
    <add key="barcodeprinter" value="TOSHIBA B-FV4 (203 dpi) (Copy 1)" />
    <add key="barcodefilepath" value="D:\" />
    <add key="stat" value="1" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>